packages:
  yum:
    gcc-c++: []
    make: []
    poppler-cpp-devel: []
    pkgconfig: []
    python3-devel: []

commands:
  01_upgrade_pip:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"
  02_install_requirements:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install -r requirements.txt"